<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<% if @user[:image] %>
  <p>プロフィール画像　　<%= image_tag @user.image.url %></p>
<% end %>

<p><%= link_to "ユーザー画像を編集する", edit_user_path(@user.id) %></p>
<p><%= link_to "Telegramのページへ行く", pictures_path %>