<h1>ブログ一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @pictures.each do |pct| %>
  <tr>
    <td><%= pct.content %></td>
    <td><%= pct.picture %></td>
    <td><%= link_to '詳細', picture_path(pct.id) %></td>
    <td><%= link_to '編集', edit_picture_path(pct.id) %></td>
    <td><%= link_to '削除', picture_path(pct.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '投稿する', new_picture_path %>
